.card {
  width: 225px;
  height: 350px;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  margin: 15px 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

  img {
    border-radius: 15px 15px 0 0;
  }

  .cardDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    padding: 0 10px;

    height: 40%;

    h4 {
      font-size: clamp(0.9rem, 1.5vw, 1rem);
      color: var(--secondary-color);
    }

    p {
      display: -webkit-box !important;
      font-weight: 500;
      font-size: 0.9rem;
      color: var(--text-color);

      letter-spacing: 0.5px;

      width: 100%;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }

    .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .icon {
        color: var(--text-color);
        font-size: 1.25rem;
        transition: 0.1s ease;

        &:hover {
          filter: brightness(0.9);
          transform: scale(1.1);
        }
      }

      > div {
        display: flex;
        gap: 5px;

        span {
          font-size: .8rem;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: .5px;
          color: var(--text-color);

          background: var(--primary-color);
          border-radius: 5px;
          padding: 5px;
        }
      }
    }
  }
}
