.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: var(--text-color);
  background: var(--tertiary-color);

  a {
    &:hover {
      color: var(--hover-color);
      text-decoration: underline;
    }
  }
}
