.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 100%;
  width: 100%;
  gap: 30px;

  .intro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;

    .search {
      flex: 1.25;
      display: grid;
      gap: 30px;

      h1 {
        font-size: clamp(3rem, 4vw, 4rem);
        font-weight: bold;
        color: var(--secondary-color);
      }

      p {
        font-size: clamp(.9rem, 1.25vw, 1.25rem);
        color: var(--text-color);
      }

      input {
        width: 80%;
        padding: 10px 15px;

        border: none;
        border-radius: 20px;

        font-size: clamp(1rem, 1.75vw, 1.5rem);
        color: var(--hover-text-color);

        @media screen and (max-width: 900px) {
          width: 100%;
        }
      }

      @media screen and (max-width: 768px) {
        padding: 30px 10px 0 10px;
        gap: 20px;
      }
    }

    .illustration {
      flex: 1;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

    h2 {
      color: var(--text-color);
      font-size: 2rem;
      font-size: clamp(2rem, 2.5vw, 2.5rem);
    }
  }

  .carousel {
    margin-bottom: 20px;
    .card {
      cursor: grab;

      @media (max-width: 1900px) {
        margin: 0 60px 0 0;
      }

      @media (max-width: 1400px) {
        margin: 0 50px 0 0;
      }

      @media (max-width: 900px) {
        margin: 0 140px 0 0;
      }

      @media (max-width: 768px) {
        margin: 0 150px 0 0;
      }
    }
  }
}
