.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 100%;
  width: 100%;
  gap: 30px;

  .buttonScrollTop {
    position: relative;
    bottom: 10px;
  }

  header {
    width: 100%;
  }

  .navBar {
    list-style: none;
    background: var(--tertiary-color);
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    gap: 6rem;

    li {
      color: var(--secondary-color);
      font-size: clamp(1rem, 1.5vw, 1.25rem);
      font-weight: 500;
      letter-spacing: 0.5px;
      cursor: pointer;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--hover-color);
      }

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background-color: var(--hover-color);
        transition: width 0.2s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      .navBar {
        gap: 2.5rem;
      }
    }
  }

  .intro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;

    .search {
      flex: 1.25;
      display: grid;
      gap: 30px;

      h1 {
        font-size: clamp(3rem, 4vw, 4rem);
        font-weight: bold;
        color: var(--secondary-color);
      }

      p {
        font-size: clamp(0.9rem, 1.25vw, 1.25rem);
        color: var(--text-color);
      }

      .searchBox {
        display: flex;
        // gap: 10px;
        input {
          width: 80%;
          padding: 10px 15px;

          border: none;
          border-radius: 20px 0 0 20px;

          font-size: clamp(1rem, 1.75vw, 1.5rem);
          color: var(--hover-text-color);

          @media screen and (max-width: 900px) {
            width: 100%;
          }
        }

        button {
          display: flex;
          align-items: center;
          padding: 10px 15px;

          background: var(--secondary-color);
          color: #fff;

          font-size: clamp(1.5rem, 1.75vw, 1.75rem);
          border: none;
          border-radius: 0 20px 20px 0;

          transition: 0.2s ease;

          &:hover {
            cursor: pointer;
            background: var(--hover-color);
          }
        }
      }

      @media screen and (max-width: 768px) {
        padding: 30px 10px 0 10px;
        gap: 20px;
      }
    }

    .illustration {
      flex: 1;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
    }
  }

  .category {
    h2 {
      color: var(--text-color);
      font-size: 2rem;
      font-size: clamp(2rem, 2.5vw, 2.5rem);
      margin-bottom: 10px;
    }

    .cardGrid {
      display: grid;
      grid-template-columns: repeat(6, minmax(200px, 1fr));
      gap: 15px;
    }

  }


  .content,
  .searchContent {
    padding: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

    h2 {
      color: var(--text-color);
      font-size: 2rem;
      font-size: clamp(2rem, 2.5vw, 2.5rem);
    }
  }

  .carousel {
    margin-bottom: 20px;
    .card {
      cursor: grab;

      @media (max-width: 1900px) {
        margin: 0 60px 0 0;
      }

      @media (max-width: 1400px) {
        margin: 0 50px 0 0;
      }

      @media (max-width: 900px) {
        margin: 0 140px 0 0;
      }

      @media (max-width: 768px) {
        margin: 0 150px 0 0;
      }
    }
  }
}
